
#app {
  position: relative;
  margin-top: 6%;
  max-height: 0;
  /* top: 0; */
  /* position: fixed; */
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.nav{
  min-height:         50px;
  background-image:   linear-gradient(90deg, rgb(229, 43, 133), rgb(240, 167, 217)) ;
  position:           fixed;
  top:                0;
  left:               0;
  right:              0;
  display:            flex;
  justify-content:    center;
}
.logo{
  width: 75px;
  height: 55px;
  position: relative;
  left: 10px;
}

.nav-list{
  padding-left:       0;
  margin:             auto 16px;
}

.nav-list-2 li{
  text-decoration: none;
  color:              white;
  list-style:         none;
  margin:             0 16px;
  display:            inline-block;
  position: relative;
}

.nav-list-2 li::after{
  width: 0%;
  height: 4px;
  background-color: white;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.75s;
}

.nav-list-2 li:hover::after {
  width: 100%;
  height: 4px;
  background-color: greenyellow;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
}

.item-1{
  text-decoration: none;
  color: white;
}

.item-1-main{
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.item-1:hover{
  color: greenyellow;
}


.item-2{
  text-decoration: none;
  color: white;
}

.item-2:hover{
  color: greenyellow;
}


.item-3{
  text-decoration: none;
  color: white;
}

.item-3-main{
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.item-3:hover{
  color: greenyellow;
}
.title-of-chat{
  /* max-height: 50px; */
  top: 0;
  background-color: #5ca6fa;
  text-align: center;
  height: 100px;
}
.title-of-chat:hover{
  color: blanchedalmond;
  background-color: aqua;
}

#fileForm{
  position: absolute;
    bottom: 0px;
    background-color: blue;
    width: 350px;
    height: 60px;
    color: white;
    z-index: 10;
    width: 100%;
    /* display: none; */
}
.outer-container {
  min-height: 500px;
  max-width: 415px;
  position: relative;
  border: solid 1px blueviolet;
  border-radius: 10px;
  left: 50%;
  top:70px;
  transform: translate(-50%);
  background-image: url(assets/202539177_538366507336625_1726073339897683453_n.jpg);
  background-position: center;
  background-size: 500px;
  overflow: hidden;
}

.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.aufile{
  position: relative;
  padding-right: 10px;
}

.chat-bar-input-block {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

#chat-icon:hover {
  opacity: .7;
}

#chat-icon:active{
  color: #548072;
}

.fa-microphone{
  position: relative;
  font-size: 22px!important;
}

#userInput {
  width: 75%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none
}

.userText {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup .5s forwards
}

.botText {
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.botText span {
  line-height: 1.5em;
  display: inline-block;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 80%;
  margin-left: 10px;
  animation: floatup .5s forwards
}

@keyframes floatup {
  from {
      transform: translateY(14px);
      opacity: .0;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
} 

/* navaubar */
/* .navau{
  min-height:         50px;
  background:         rgb(1, 117, 82);
  position:           fixed;
  top:                0;
  left:               0;
  right:              0;
  display:            flex;
  justify-content:    space-between;
} */

/* .navau-list{
  padding-left:       0;
  margin:             auto 16px;
} */

/* .navau-item{
  color:              #fff;
  list-style:         none;
  margin:             0 8px;
  display:            inline-block;
}

.navau-item:hover{
  color:              crimson;
} */

.item-clicked{
  color:rgb(233, 236, 37);
}

.item-clicked:hover{
  color:rgb(22, 192, 235);
}

.title_page{
  color:#080216;
  padding: 32px;
  margin: 30px auto;
  font-size: 80px;
  text-align: center;
}

/* Feature layout */
.feature-layout{

  margin: 0px auto;
  width: 90%;
  height: 400px;
  background-color: #ea8cc3;
  border-radius: 15px;
  padding: 40px 20px;
  color: rgb(219, 214, 217);
  display:            flex;
  justify-content:    space-around;
/* position: relative; */
}

.feature-item{
  padding:        12px 6px;
  margin-top:     16px;
  border:         1px;
  flex-basis:     25%;
  border-radius: 10px;
  background-color: #ce0d6a;
  text-align: center;
  animation: floatup 1s forwards;

  /* transition: 1s; */
  /* position: relative; */
}

/* .img_triet{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .feature-item:nth-child(1){
  background-color: rgb(154, 227, 230);
}

.feature-item:nth-child(2){
  background-color: bisque;
}

.feature-item:nth-child(3){
  background-color: rgb(67, 209, 155);
} */

.view .main-poster{
  position: flex;
  height: 2000px;
  width: 800px;
  margin-top: -28.5px;
  text-align: center;
}
.button1 {
  background-image: linear-gradient(90deg, rgb(229, 43, 133), rgb(240, 167, 217)) ;
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: absolute;
  left: 45%;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.button1:hover {
  color: #fff;
}

.button1 .btn1 {
  align-items: center;
  background: #db7bb9;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.button1:hover .btn1 {
  background: transparent;
}